#animalphoto {
  display: none;
}

#gonzophoto {
  display: none;
}

#janicephoto {
  display: none;
}

#piggyphoto {
  display: none;
}

.imagesize {
  max-width: 250px;
  height: auto;
}
.verticalspacer {
  height: 20px;
}